﻿html, body {
  height: 100%; }

#aspnetForm {
  height: 100%;
  background-color: inherit; }

#main {
  width: 100%;
  height: 100%; }

#header {
  height: 60px; }

#datos {
  width: 100%; }

#menu {
  z-index: 9999;
  position: absolute;
  background-color: inherit;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  box-shadow: 0 0px 8px 2px rgba(0, 0, 0, 0.4), 0 0 0 transparent;
  top: 50px; }

#MenuNavegacion {
  width: 100%;
  padding-right: 10px; }

.MenuNavegacion_0 {
  box-shadow: 0 0px 8px 2px rgba(0, 0, 0, 0.4), 0 0 0 transparent;
  padding-right: 10px;
  padding-left: 10px; }

#menuSuperior {
  height: calc(100% - 125px);
  background-color: inherit; }

#menuSuperior * {
  background-color: inherit;
  clip: auto !important; }

#iconAlerta {
  font-size: 42px;
  float: left;
  padding-right: 15px; }

.content {
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
  background-color: #FFFFFF;
  padding: 5px !important;
  height: inherit; }

.content_fullscreen {
  display: inline !important;
  float: left !important;
  width: 100% !important;
  height: 90% !important;
  background-color: #EFF0F3 !important; }

.no-close .ui-dialog-titlebar-close {
  display: none; }

footer {
  clear: both;
  position: absolute;
  bottom: 0;
  width: 100%;
  _position: fixed;
  _bottom: expression(eval(document.body.scrollbottom));
  *position: fixed;
  *bottom: expression(eval(document.body.scrollbottom));
  color: #D8DAE1;
  text-align: center;
  background-color: #484B53;
  font-size: small;
  font-weight: lighter;
  font-style: normal;
  left: 0; }

#sidebar {
  overflow-y: overlay;
  overflow-x: hidden; }

#IndexPortada {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  right: 0;
  top: 0;
  z-index: 999; }

#idLoginUsuario {
  display: inline-block;
  background-color: #EFF0F3;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -moz-border-radius-topleft: 10px;
  border-radius: 5px; }

.LabelFormulario {
  display: block;
  float: left;
  width: 100px;
  text-align: left; }

.InputFormulario {
  display: block;
  margin: 5px; }

.SubtituloPagina {
  text-align: center;
  color: #FFFFFF;
  font-size: 25px;
  background: none repeat scroll 0% 0% rgba(49, 52, 59, 0.7); }

.divConsultarSeccion {
  color: #606e8d;
  font-size: 14px;
  text-align: center; }

.divFijo {
  position: relative; }

.divFlotaArriba {
  position: fixed; }

.DivCentrados {
  margin: auto;
  height: 100%; }

.form-group-sm .control-label {
  margin-bottom: 0; }

.form-group-sm {
  margin-bottom: 5px !important; }

@media (min-width: 768px) {
  .content-wrap {
    padding-top: 50px;
    padding-bottom: 18px; } }

@media (max-width: 767px) {
  .content-wrap {
    padding-top: 62px;
    padding-bottom: 18px; } }

ul#lisPrecio > li {
  background-color: #f2be35;
  margin: 0 0 5px 0 !important;
  color: #242424;
  padding: 10px; }

ul#lisPrecio > li > span {
  color: #9e0000;
  font-size: 14pt; }

h4.chat-sidebar-title {
  font-size: 16pt;
  margin: 48px 5px 5px 0px; }

ul.list-unstyled > li > div {
  color: #cacaca; }

ul.list-il-block > li > div {
  display: inline-block; }

vr.line {
  border: 1px solid #ddd;
  margin-right: 6px;
  padding-top: 100%;
  padding-bottom: 12px;
  border-left-color: white; }

input.disabled {
  background-color: #C0C0C0; }

table {
  background-color: Transparent;
  font-size: 11px;
  font-family: arial,helvetica,clean,sans-serif; }

.Menu {
  left: 60px; }

.TituloValores {
  margin-top: 10px;
  top: 1px;
  left: 0;
  background-image: url(../Imagenes/Fondo_Cabecera_Grilla.gif);
  vertical-align: middle;
  text-align: center;
  border: #a9a9a9 1px solid;
  color: #FFFFFF; }

.TituloValores_gris {
  top: 1px;
  left: 0;
  background-color: #1A1E25;
  vertical-align: middle;
  text-align: center;
  color: #C7CAD5;
  font-family: Arial,Helvetica,sans-serif; }

.top-buffer {
  margin-top: 5px; }

.widget {
  position: relative;
  margin-bottom: 20px;
  padding: 15px 20px;
  background: #fff; }

.text-white {
  color: #fff; }

.bg-widget-dolar {
  background-color: #64bd63; }

.bg-widget-uf {
  background-color: #5d8fc2; }

.widget-icon {
  opacity: .5;
  font-size: 42px; }

.no-margin {
  margin: 0 !important; }

.margin-tb {
  margin-top: 8px;
  margin-bottom: 8px; }

.chart-overflow-bottom {
  margin: 0 -20px -20px; }

.lh-1 {
  line-height: 1; }

.nota-explicativa {
  margin-top: -14px; }

.cbp-spmenu-vertical {
  width: 240px;
  z-index: 1000; }

.cbp-spmenu-left {
  left: -240px;
  opacity: 0; }

.cbp-spmenu-left.cbp-spmenu-open {
  -webkit-transform: translateX(240px);
  transform: translateX(240px);
  visibility: visible;
  opacity: 1; }

.table td > .checkbox > label:before {
  margin-left: 0; }

.table td > .checkbox > label:after {
  margin-left: 0; }

.table th > .checkbox > label:before {
  margin-left: 0; }

.table th > .checkbox > label:after {
  margin-left: 0; }

.table > thead > tr > th {
  font-weight: 600;
  text-transform: uppercase;
  border-bottom-width: 1px;
  color: #ffffff; }

.table .table-scroll {
  height: 234px;
  display: -moz-groupbox; }

.table .tbody-scroll {
  overflow-y: scroll;
  width: 100%;
  position: absolute; }

.table .tr-scroll {
  width: 100%;
  display: inline-table;
  height: 25px;
  table-layout: fixed; }

.TotalPatrimonio {
  background: #B4C37F !important;
  font-weight: bold !important; }

.FilaGruposJqgrid {
  background: #E7EBF7 !important;
  font-weight: bold !important; }

.FilaBaseJqgrid {
  color: Black;
  background: #EFEFEF;
  font-weight: bold !important; }

.ui-jqgrid {
  background: #F5F5F5; }

.jqgrow {
  background-color: white; }

.soptclass, .clearsearchclass {
  color: #ffffff !important; }

.mb-0 {
  margin-bottom: 0 !important; }

.nav-tabs {
  border-bottom: none;
  background-color: #ddd;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px; }
  .nav-tabs > li {
    margin-bottom: 0; }
    .nav-tabs > li > a {
      padding: 12px 18px;
      border: none;
      color: #999999;
      -webkit-transition: color 0.15s ease-in-out;
      -o-transition: color 0.15s ease-in-out;
      transition: color 0.15s ease-in-out; }
      .nav-tabs > li > a:hover {
        background-color: transparent;
        color: #555555; }
  .nav-tabs > li.open > a {
    background-color: white;
    color: #555555; }
    .nav-tabs > li.open > a:hover {
      background-color: white;
      color: #555555; }
    .nav-tabs > li.open > a:focus {
      background-color: white;
      color: #555555; }
  .nav-tabs > li.active > a {
    border: none;
    -webkit-box-shadow: 1px 1px 2px #cccccc;
    box-shadow: 1px 1px 2px #cccccc; }
    .nav-tabs > li.active > a:hover {
      border: none;
      -webkit-box-shadow: 1px 1px 2px #cccccc;
      box-shadow: 1px 1px 2px #cccccc; }
    .nav-tabs > li.active > a:focus {
      border: none;
      -webkit-box-shadow: 1px 1px 2px #cccccc;
      box-shadow: 1px 1px 2px #cccccc; }

.tab-content {
  position: relative;
  z-index: 1;
  background-color: white; }
  .tab-content > .tab-pane {
    padding: 20px;
    display: none; }
  .tab-content > .active {
    display: block; }

.tabbable:before {
  content: " ";
  display: table; }

.tabbable:after {
  content: " ";
  display: table;
  clear: both; }

.tabs-below > .nav-tabs {
  border-bottom: 0; }

.tabs-right > .nav-tabs {
  border-bottom: 0;
  float: right;
  border-top-left-radius: 0; }
  .tabs-right > .nav-tabs > li {
    float: none; }
    .tabs-right > .nav-tabs > li > a {
      min-width: 74px;
      margin-right: 0;
      margin-bottom: 3px;
      margin-left: -1px;
      -moz-border-radius: 0 4px 4px 0;
      -webkit-border-radius: 0;
      border-radius: 0 4px 4px 0; }
    .tabs-right > .nav-tabs > li:last-child > a {
      margin-bottom: 0; }
  .tabs-right > .nav-tabs > li.active > a {
    -webkit-box-shadow: -1px 1px 2px #cccccc;
    box-shadow: -1px 1px 2px #cccccc; }

.tabs-left > .nav-tabs {
  border-bottom: 0;
  float: left;
  border-top-right-radius: 0; }
  .tabs-left > .nav-tabs > li {
    float: none; }
    .tabs-left > .nav-tabs > li > a {
      min-width: 74px;
      margin-right: 0;
      margin-bottom: 3px;
      margin-right: -1px;
      -moz-border-radius: 4px 0 0 4px;
      -webkit-border-radius: 4px;
      border-radius: 4px 0 0 4px; }
    .tabs-left > .nav-tabs > li:last-child > a {
      margin-bottom: 0; }

.pill-content > .pill-pane {
  display: none; }

.pill-content > .active {
  display: block; }

.navbar {
  border: none;
  font-size: 13px;
  font-weight: 500;
  margin-bottom: 5px !important; }
  .navbar h5 {
    font-size: 13px; }
  .navbar .deemphasize {
    font-size: 12px; }

.navbar-form .form-control {
  font-size: 13px; }

.navbar-form .input-group {
  width: 250px; }

.navbar-form .input-group-addon {
  color: #666666; }

.navbar-header > .navbar-nav {
  float: left;
  margin-left: 15px;
  margin-right: 15px; }
  .navbar-header > .navbar-nav > li {
    float: left; }
    .navbar-header > .navbar-nav > li > a {
      padding-top: 15px;
      padding-bottom: 15px; }

.navbar-header > .navbar-nav.navbar-right {
  float: right; }

th {
  font-weight: 600; }

a {
  -webkit-transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, color 0.15s ease-in-out;
  -o-transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, color 0.15s ease-in-out;
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, color 0.15s ease-in-out; }

.btn {
  -webkit-transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
  -o-transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out; }

.form-control {
  -webkit-transition: border-color 0.15s ease-in-out, background-color 0.15s ease-in-out;
  -o-transition: border-color 0.15s ease-in-out, background-color 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, background-color 0.15s ease-in-out; }

.sidebar {
  position: fixed;
  z-index: 0;
  left: 0;
  top: 0;
  bottom: 0;
  width: 204px;
  background-color: #242424;
  color: #aaaaaa;
  background-color: #f8f8f8; }
  .sidebar .slimScrollBar {
    -moz-border-radius: 0 !important;
    -webkit-border-radius: 0;
    border-radius: 0 !important;
    background-color: #aaaaaa !important; }

.page-controls {
  left: 204px;
  -webkit-transition: left 0.3s ease-in-out;
  -o-transition: left 0.3s ease-in-out;
  transition: left 0.3s ease-in-out;
  -webkit-transition: left 0.3s ease-in-out, right 0.3s ease-in-out;
  -o-transition: left 0.3s ease-in-out, right 0.3s ease-in-out;
  transition: left 0.3s ease-in-out, right 0.3s ease-in-out;
  right: -204px;
  position: absolute !important;
  z-index: 1 !important; }
  .page-controls .navbar-brand {
    position: absolute;
    left: 0;
    right: 0;
    font-weight: 700;
    text-align: center; }
  .page-controls .avatar {
    width: 30px;
    margin-top: -5px; }
  .page-controls .avatar.pull-left {
    margin-right: 5px; }
  .page-controls .avatar.pull-right {
    margin-left: 5px; }
  .page-controls .navbar-nav > li > a .rounded.rounded-lg {
    margin: -7px -7px -8px; }
  .page-controls .navbar-nav > li > a .circle.circle.lg {
    margin: -7px -7px -8px; }
  .page-controls .navbar-nav .fa-times {
    font-size: 20px;
    vertical-align: -2px; }

.content-wrap {
  left: 204px;
  -webkit-transition: left 0.3s ease-in-out;
  -o-transition: left 0.3s ease-in-out;
  transition: left 0.3s ease-in-out;
  z-index: 0;
  height: 100%;
  position: relative;
  z-index: 0;
  height: 100%; }

.loader-wrap {
  left: 204px;
  -webkit-transition: left 0.3s ease-in-out;
  -o-transition: left 0.3s ease-in-out;
  transition: left 0.3s ease-in-out; }

.nav-collapsed .page-controls {
  left: 0;
  right: 0; }

.nav-collapsed .content-wrap {
  left: 0; }

.nav-collapsed .loader-wrap {
  left: 0; }

.nav-collapsed .logo {
  width: 50px; }

.nav-collapsed .sidebar-nav-title {
  opacity: 0; }

.nav-collapsed .sidebar-labels > li > a .circle {
  margin-left: 8px; }

.nav-collapsed .sidebar-labels > li > a .circle-o {
  margin-left: 8px; }

.nav-collapsed .sidebar-labels > li > a .fa-circle {
  margin-left: 8px; }

.nav-collapsed .sidebar-labels > li > a .label-name {
  opacity: 0; }

.nav-collapsed .sidebar-alerts {
  opacity: 0; }

.nav-collapsed .chat-sidebar-contacts .sidebar-nav-title {
  opacity: 1; }

.content {
  min-height: 100%;
  padding: 90px 40px 40px;
  background-color: #eeeeee; }

.logo {
  margin: 10px 0 20px;
  height: 50px;
  width: 100%;
  line-height: 50px;
  text-align: center;
  vertical-align: middle;
  font-weight: 700;
  font-size: 18px;
  -webkit-transition: width 0.3s ease-in-out;
  -o-transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out; }
  .logo a {
    color: white;
    text-decoration: none; }

.sidebar-nav {
  padding: 0;
  font-size: 14px;
  margin: 0; }
  .sidebar-nav li a {
    display: block;
    color: #aaaaaa;
    text-decoration: none;
    color: #242424; }
    .sidebar-nav li a .toggle {
      float: right;
      line-height: 18px;
      margin-right: 15px;
      -webkit-transition: -webkit-transform 0.35s ease;
      -moz-transition: -moz-transform 0.35s ease;
      -o-transition: -o-transform 0.35s ease;
      transition: transform 0.35s ease; }
    .sidebar-nav li a .label {
      float: right;
      line-height: 15px;
      margin-top: 11px;
      margin-right: 15px; }
  .sidebar-nav li a.collapsed .toggle {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg); }
  .sidebar-nav > li > a {
    position: relative;
    border-top: 1px solid #2d2d2d;
    padding-left: 50px;
    line-height: 35px;
    border-top: 1px solid #c1c1c1;
    /*&:hover {
				background-color: #111111;
				background-color: $color_hover_menu !important;
				color: $color_13 !important;
			}*/ }
    .sidebar-nav > li > a .icon {
      display: block;
      position: absolute;
      top: 3px;
      left: 11px;
      width: 28px;
      height: 28px;
      line-height: 28px;
      text-align: center; }
      .sidebar-nav > li > a .icon .fa {
        font-size: 16px;
        vertical-align: text-bottom;
        color: rgba(170, 170, 170, 0.7);
        color: #242424; }
      .sidebar-nav > li > a .icon .glyphicon {
        font-size: 16px;
        vertical-align: text-bottom;
        color: rgba(170, 170, 170, 0.7);
        top: -2px;
        left: -1px;
        color: #242424; }
      .sidebar-nav > li > a .icon .glyphicon-map-marker {
        top: 0;
        left: 0; }
      .sidebar-nav > li > a .icon .glyphicon-th {
        top: -1px;
        left: 0; }
      .sidebar-nav > li > a .icon .glyphicon-tree-conifer {
        left: 0; }
      .sidebar-nav > li > a .icon .fa-envelope {
        position: relative;
        top: -1px; }
    .sidebar-nav > li > a .toggle {
      line-height: 35px; }
  .sidebar-nav > li:last-child > a {
    border-bottom: 1px solid #2d2d2d;
    border-bottom: 1px solid #c1c1c1; }
  .sidebar-nav > li ul {
    padding: 0;
    font-size: 13px;
    background-color: #313131;
    list-style: none;
    background-color: #c5c5c5 !important; }
    .sidebar-nav > li ul > li > a {
      padding: 5px 0 5px 40px; }
      .sidebar-nav > li ul > li > a:hover {
        background-color: #1e1e1e;
        background-color: #a5a5a5 !important; }
    .sidebar-nav > li ul > li ul > li > a {
      padding-left: 55px; }
    .sidebar-nav > li ul > li.active > a {
      font-weight: normal;
      color: white;
      font-weight: bold !important;
      color: #242424 !important; }
  .sidebar-nav > li > ul:before {
    content: "";
    display: block;
    padding-top: 10px; }
  .sidebar-nav > li > ul:after {
    content: "";
    display: block;
    padding-bottom: 10px; }
  .sidebar-nav > .open > a {
    background-color: #161616; }
  .sidebar-nav > .active > a {
    color: #f2be35;
    background-color: #242424;
    color: #f8f8f8;
    background-color: #616161; }
    .sidebar-nav > .active > a .icon {
      border-radius: 50%;
      background-color: #f2be35;
      background-color: #f8f8f8; }
      .sidebar-nav > .active > a .icon .fa {
        color: #242424; }
      .sidebar-nav > .active > a .icon .glyphicon {
        color: #242424; }

/*.sidebar-nav-title {
	margin: 35px 0 5px 11px;
	font-size: 14px;
	text-transform: uppercase;
	opacity: 1;
	-webkit-transition: opacity 0.3s ease-in-out;
	-o-transition: opacity 0.3s ease-in-out;
	transition: opacity 0.3s ease-in-out;
	.action-link {
		color: $color_4;
		float: right;
		margin-right: 15px;
		margin-top: -1px;
		.fa {
			font-size: 9px;
		}
		.glyphicon {
			font-size: 9px;
		}
	}
}
.sidebar-status {
	position: relative;
	margin: 10px 0 20px;
	padding: 0 15px 0 11px;
	>a {
		display: block;
		line-height: 40px;
		color: $color_9;
		text-decoration: none;
	}
	.dropdown-menu {
		position: fixed;
		top: 60px;
		margin: 0 20px;
		width: 320px;
		color: $color_2;
	}
}
.sidebar-labels {
	list-style: none;
	padding: 11px;
	padding-right: 15px;
	font-size: 13px;
	>li {
		>a {
			color: $color_9;
			text-decoration: none;
			font-weight: normal;
			.circle {
				position: relative;
				top: -2px;
				font-size: 9px;
				height: 12px;
				width: 12px;
				line-height: 12px;
				-webkit-transition: margin-left 0.3s ease-in-out;
				-o-transition: margin-left 0.3s ease-in-out;
				transition: margin-left 0.3s ease-in-out;
			}
			.circle-o {
				position: relative;
				top: -2px;
				font-size: 9px;
				height: 12px;
				width: 12px;
				line-height: 12px;
				-webkit-transition: margin-left 0.3s ease-in-out;
				-o-transition: margin-left 0.3s ease-in-out;
				transition: margin-left 0.3s ease-in-out;
				top: 1px;
				left: 1px;
			}
			.fa-circle {
				font-size: 11px;
				vertical-align: 1px;
				-webkit-transition: margin-left 0.3s ease-in-out;
				-o-transition: margin-left 0.3s ease-in-out;
				transition: margin-left 0.3s ease-in-out;
			}
			.label-name {
				opacity: 1;
				-webkit-transition: opacity 0.3s ease-in-out;
				-o-transition: opacity 0.3s ease-in-out;
				transition: opacity 0.3s ease-in-out;
			}
		}
		&+li {
			margin-top: 10px;
		}
	}
}
.sidebar-alerts {
	font-size: 13px;
	-webkit-transition: opacity 0.3s ease-in-out;
	-o-transition: opacity 0.3s ease-in-out;
	transition: opacity 0.3s ease-in-out;
	opacity: 1;
	.alert {
		margin-bottom: 0;
		padding: 10px 11px;
		padding-right: 15px;
		.close {
			font-size: 16px;
			text-shadow: none;
			opacity: 1;
			color: $color_4;
		}
	}
	.progress {
		background-color: #3e3e3e;
	}
}*/
.chat-sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  right: -254px;
  width: 254px;
  background-color: #242424;
  -webkit-transition: right 0.3s ease-in-out;
  -o-transition: right 0.3s ease-in-out;
  transition: right 0.3s ease-in-out; }

.chat-sidebar-container {
  position: relative;
  left: 0;
  -webkit-transition: left 0.3s ease-in-out;
  -o-transition: left 0.3s ease-in-out;
  transition: left 0.3s ease-in-out; }
  .chat-sidebar-container .sidebar {
    left: 0;
    -webkit-transition: left 0.3s ease-in-out;
    -o-transition: left 0.3s ease-in-out;
    transition: left 0.3s ease-in-out; }

.chat-sidebar-container.chat-sidebar-opened {
  left: -254px; }
  .chat-sidebar-container.chat-sidebar-opened .sidebar {
    left: -254px; }
  .chat-sidebar-container.chat-sidebar-opened .chat-sidebar {
    right: 0; }

.chat-sidebar-header {
  position: absolute;
  top: 0;
  padding: 10px;
  z-index: 3;
  background-color: #242424; }

.chat-sidebar-content {
  color: #aaaaaa; }

.chat-sidebar-contacts {
  left: -100%;
  -webkit-transition: left 0.4s ease-in-out;
  -o-transition: left 0.4s ease-in-out;
  transition: left 0.4s ease-in-out; }
  .chat-sidebar-contacts .sidebar-nav-title {
    margin-left: 10px;
    margin-right: 10px; }
    .chat-sidebar-contacts .sidebar-nav-title:first-child {
      margin-top: 0; }

.chat-sidebar-contacts.open {
  left: 0; }

.chat-sidebar-chat {
  right: -100%;
  padding-bottom: 54px;
  background-color: #242424;
  -webkit-transition: right 0.2s ease-in-out;
  -o-transition: right 0.2s ease-in-out;
  transition: right 0.2s ease-in-out; }
  .chat-sidebar-chat .title {
    margin-bottom: 0; }
    .chat-sidebar-chat .title > a {
      display: block;
      padding: 10px 16px;
      background-color: rgba(255, 255, 255, 0.1);
      color: #eeeeee;
      text-decoration: none; }
  .chat-sidebar-chat .message-list {
    list-style: none;
    padding-left: 0;
    padding-top: 10px; }
  .chat-sidebar-chat .message {
    padding: 10px 20px; }
    .chat-sidebar-chat .message:before {
      content: " ";
      display: table; }
    .chat-sidebar-chat .message:after {
      content: " ";
      display: table;
      clear: both; }
    .chat-sidebar-chat .message > .thumb-sm {
      float: left; }
  .chat-sidebar-chat .message.from-me > .thumb-sm {
    float: right; }
  .chat-sidebar-chat .message.from-me .message-body {
    margin-left: 0;
    margin-right: 50px;
    background-color: #f0b518;
    color: #343434; }
    .chat-sidebar-chat .message.from-me .message-body:before {
      right: auto;
      left: 100%;
      border-right-color: transparent;
      border-left-color: #f0b518; }
  .chat-sidebar-chat .message-body {
    position: relative;
    margin-left: 50px;
    padding: 10px;
    font-size: 13px;
    font-weight: 400;
    background-color: #eeeeee;
    color: #555555;
    border-radius: 4px; }
    .chat-sidebar-chat .message-body:before {
      right: 100%;
      top: 8px;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      border: 10px solid transparent;
      border-right-color: #eeeeee; }

.chat-sidebar-chat.open {
  right: 0; }

.chat-sidebar-panel {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  padding-top: 100px; }

.chat-sidebar-title {
  margin-left: 10px;
  margin-right: 10px;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 400; }

.chat-sidebar-user-group {
  margin-top: 10px; }
  .chat-sidebar-user-group .list-group-item {
    background-color: transparent;
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: 0;
    padding: 10px 20px;
    border: 0;
    color: #eeeeee;
    border-radius: 0; }
    .chat-sidebar-user-group .list-group-item .circle-o {
      margin-top: 13px;
      font-size: 8px; }
    .chat-sidebar-user-group .list-group-item .fa-circle {
      font-size: 11px;
      line-height: 37px; }
    .chat-sidebar-user-group .list-group-item .badge {
      margin-top: 9px;
      margin-right: 6px;
      padding: 3px 5px; }
  .chat-sidebar-user-group .list-group-item.active {
    background-color: rgba(255, 255, 255, 0.1);
    color: #f0b518; }
    .chat-sidebar-user-group .list-group-item.active:focus {
      background-color: rgba(255, 255, 255, 0.1);
      color: #f0b518; }
    .chat-sidebar-user-group .list-group-item.active:hover {
      background-color: rgba(255, 255, 255, 0.1);
      color: #f0b518; }
    .chat-sidebar-user-group .list-group-item.active .badge {
      background-color: #dd5826;
      color: white; }
    .chat-sidebar-user-group .list-group-item.active .message-sender {
      font-weight: 600; }
  .chat-sidebar-user-group .thumb .status {
    border-color: #242424; }
  .chat-sidebar-user-group .thumb-sm .status {
    border-color: #242424; }
  .chat-sidebar-user-group a.list-group-item:hover {
    color: #eeeeee;
    background-color: rgba(0, 0, 0, 0.15); }
  .chat-sidebar-user-group .message-preview {
    margin: 0;
    width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 85%;
    color: #999999; }
  .chat-sidebar-user-group .message-sender {
    margin: 0 0 5px; }

.chat-sidebar-footer {
  position: absolute;
  bottom: 0;
  right: -100%;
  width: 100%;
  margin-bottom: 0;
  padding: 10px;
  background-color: #3a3a3a;
  -webkit-transition: right 0.2s ease-in-out;
  -o-transition: right 0.2s ease-in-out;
  transition: right 0.2s ease-in-out; }

.chat-sidebar-footer.open {
  right: 0; }

.chat-notification {
  position: absolute;
  right: 0;
  top: 35px;
  z-index: 20;
  margin-top: 3px;
  padding: 5px 0;
  cursor: pointer; }
  .chat-notification:before {
    content: ' ';
    position: absolute;
    top: 0;
    right: 18px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #343434; }

.chat-notification-inner {
  min-width: 120px;
  padding: 8px;
  font-size: 12px;
  border-radius: 4px;
  text-decoration: none;
  background-color: #343434;
  color: white; }
  .chat-notification-inner .title {
    margin: 0;
    font-weight: 600;
    line-height: 28px; }
    .chat-notification-inner .title .thumb-xs {
      vertical-align: -9px;
      margin-right: 5px; }
  .chat-notification-inner .text {
    margin-top: 5px;
    margin-bottom: 0;
    color: #999999; }

.chat-notification-sing {
  position: absolute;
  top: 15px;
  left: 11px;
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #dd5826; }

#idSubtituloPagina {
  border-radius: 0;
  border-width: 0 0 1px; }

.page-title {
  margin: 0 0 20px; }

.fade.in {
  opacity: 1; }

.bg-gray {
  background-color: #555;
  color: #fff;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.2) !important; }

.circle {
  display: inline-block;
  width: 1.428571429em;
  height: 1.428571429em;
  line-height: 1.428571429em;
  text-align: center; }

.rounded {
  display: inline-block;
  width: 1.428571429em;
  height: 1.428571429em;
  line-height: 1.428571429em;
  text-align: center; }

.circle-o {
  display: inline-block;
  width: 1.428571429em;
  height: 1.428571429em;
  line-height: 1.428571429em;
  text-align: center; }

.circle-lg {
  width: 2.2em;
  height: 2.2em;
  line-height: 2.2em; }

.rounded-lg {
  width: 2.2em;
  height: 2.2em;
  line-height: 2.2em; }

.modal-open .content-wrap {
  -webkit-transform: none;
  transform: none;
  position: static; }

.navbar-fixed-bottom {
  z-index: 1; }

.navbar-fixed-top {
  z-index: 1; }

#idLogoEmpresa {
  height: 50px;
  width: 204px;
  margin-top: 0; }

.navbar-default {
  /*background-color: $color_hover_menu !important;*/ }
  .navbar-default .navbar-nav > li > a {
    color: #f8f8f8 !important; }
    .navbar-default .navbar-nav > li > a:focus {
      color: #b7b7b7; }
    .navbar-default .navbar-nav > li > a:hover {
      color: #b7b7b7; }
  .navbar-default .navbar-nav > .open > a {
    background-color: rgba(0, 0, 0, 0.3) !important;
    /*&:hover {
					background-color: #800319 !important;
				}*/ }
    .navbar-default .navbar-nav > .open > a:focus {
      background-color: rgba(0, 0, 0, 0.3) !important; }
  .navbar-default .navbar-brand {
    color: #f8f8f8 !important; }

i.fa.fa-user-circle-o {
  font-size: 40px; }

div#userFullName {
  font-size: 16px;
  padding: 5px; }

i.fa.fa-address-card-o {
  padding-left: 10px;
  font-size: 25px; }

div#userNomEmpresa {
  font-size: 16px;
  padding: 5px; }

i.fa.fa-user.fa-lg {
  margin-right: 5px; }

div > img#idLogoEmpresa {
  margin-top: 180px; }

@media (min-width: 768px) {
  .container > .navbar-header {
    margin-right: -15px;
    margin-left: -15px; }
  .container > .navbar-collapse {
    margin-right: -15px;
    margin-left: -15px; }
  .container-fluid > .navbar-header {
    margin-right: -15px;
    margin-left: -15px; }
  .container-fluid > .navbar-collapse {
    margin-right: -15px;
    margin-left: -15px; }
  .page-controls {
    margin-left: 50px;
    left: 154px; }
  .content-wrap {
    margin-left: 50px;
    left: 154px; }
  .loader-wrap {
    margin-left: 50px;
    left: 154px; }
  .table th > .checkbox {
    padding-left: 0;
    width: 33px; }
  .table td > .checkbox {
    padding-left: 2px; }
  .select2-width span.select2.select2-container {
    width: 230px !important; } }

@media (max-width: 767px) {
  .navbar-header > .navbar-nav {
    margin-top: 5px;
    margin-bottom: 5px; }
    .navbar-header > .navbar-nav + .navbar-brand {
      height: 60px;
      line-height: 30px; }
  .page-controls {
    font-size: 16px; }
    .page-controls .navbar-brand > .fa-circle {
      font-size: 10px; }
    .page-controls .navbar-nav {
      position: relative;
      z-index: 1; }
  .content {
    padding-left: 20px;
    padding-right: 20px; }
  .sidebar-nav {
    font-size: 16px; }
    .sidebar-nav > li > a {
      line-height: 44px; }
      .sidebar-nav > li > a .icon {
        top: 8px; }
      .sidebar-nav > li > a .toggle {
        line-height: 44px; }
    .sidebar-nav > li ul {
      font-size: 14px; } }

@media (max-width: 767px) {
  .table th > .checkbox {
    padding-left: 20px;
    margin-top: 0;
    margin-bottom: 0; }
  .table td > .checkbox {
    padding-left: 20px; } }

@media (min-width: 992px) {
  .nav-static .page-controls {
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
    left: 0;
    margin-left: 204px;
    right: 0; }
  .nav-static .content-wrap {
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
    left: 0;
    margin-left: 204px; }
  .nav-static .loader-wrap {
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
    left: 0;
    margin-left: 204px; }
  .nav-static .logo {
    width: 100%;
    -webkit-transition: none;
    -o-transition: none;
    transition: none; }
  .nav-static .sidebar-nav-title {
    opacity: 1;
    -webkit-transition: none;
    -o-transition: none;
    transition: none; }
  .nav-static .sidebar-labels > li > a .circle {
    margin-left: 0;
    -webkit-transition: none;
    -o-transition: none;
    transition: none; }
  .nav-static .sidebar-labels > li > a .circle-o {
    margin-left: 0;
    -webkit-transition: none;
    -o-transition: none;
    transition: none; }
  .nav-static .sidebar-labels > li > a .fa-circle {
    margin-left: 0;
    -webkit-transition: none;
    -o-transition: none;
    transition: none; }
  .nav-static .sidebar-labels > li > a .label-name {
    opacity: 1;
    -webkit-transition: none;
    -o-transition: none;
    transition: none; }
  .nav-static .sidebar-alerts {
    opacity: 1;
    -webkit-transition: none;
    -o-transition: none;
    transition: none; } }

@media (min-width: 768px) and (max-width: 991px) {
  .page-controls .navbar-form.navbar-left {
    padding-right: 0; } }

@media (min-width: 992px) and (min-height: 670px) {
  .sidebar-nav {
    font-size: 16px; }
    .sidebar-nav > li > a {
      line-height: 44px; }
      .sidebar-nav > li > a .icon {
        top: 8px; }
      .sidebar-nav > li > a .toggle {
        line-height: 44px; }
    .sidebar-nav > li ul {
      font-size: 14px; } }

@media (max-width: 380px) {
  .sidebar-status .dropdown-menu {
    width: 100%;
    margin: 0; } }

@media (max-height: 500px) {
  .sidebar-status .dropdown-menu {
    bottom: 20px; }
  .sidebar-status .notifications .panel-heading {
    position: absolute;
    top: 0;
    left: 0;
    right: 0; }
  .sidebar-status .notifications .list-group {
    position: absolute;
    top: 85px;
    left: 0;
    right: 0;
    bottom: 43px;
    height: auto; }
  .sidebar-status .notifications .panel-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0; } }

.table-panel .table-header {
  background: #616161 !important;
  color: #fff; }

.table-header {
  position: relative;
  padding: 10px 15px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-top-right-radius: 2px;
  border-top-left-radius: 2px; }

.table-panel .table {
  margin: 0; }
  .table-panel .table thead tr {
    color: #fff; }

.table-caption {
  font-size: 15px;
  font-weight: 600; }

canvas {
  width: 300px;
  margin: 0 auto; }

.dataTables_length {
  margin-right: 5px !important; }

