﻿<%@ Master Language="VB" AutoEventWireup="false" CodeBehind="GPIWeb.Master.vb" Inherits="AplicacionWeb.GRPI" %>

<%@ Import Namespace="AplicacionWeb" %>

<!DOCTYPE html>
<html lang="es">
<head id="Head1" runat="server">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=1.0, minimum-scale=1.0, maximum-scale=1.0">
    <title>GPI Web</title>
    <link href="<%= VersionLinkHelper.GetVersion("../Estilos/App/App.min.css") %>" rel="stylesheet" type="text/css" />
    <link href="<%= VersionLinkHelper.GetVersion("../Content/bootstrap-datepicker3.min.css") %>" rel="stylesheet" />
    <link href="<%= VersionLinkHelper.GetVersion("../Estilos/vendor/bootstrapCheckbox/awesome-bootstrap-checkbox.min.css") %>" rel="stylesheet" />

    <link href="../Sistema/icons/favicon.ico" rel="shortcut icon" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta http-equiv='refresh' content='2400;url=../Login/Login.aspx'>

    <link href="<%= VersionLinkHelper.GetVersion("../Content/bootstrap.min.css") %>" rel="stylesheet" />
    <link href="<%= VersionLinkHelper.GetVersion("../Estilos/vendor/jqGrid5/trirand/ui.jqgrid-bootstrap.css") %>" rel="stylesheet" />
    <link href="<%= VersionLinkHelper.GetVersion("../Estilos/vendor/font-awesome/css/font-awesome.min.css") %>" rel="stylesheet" />
    <script src="<%= VersionLinkHelper.GetVersion("../Scripts/jquery-3.1.1.min.js") %>"></script>
    <script src="<%= VersionLinkHelper.GetVersion("../js/vendor/jqGrid/trirand/i18n/grid.locale-es.js") %>"></script>
    <script src="<%= VersionLinkHelper.GetVersion("../js/vendor/jqGrid/trirand/jquery.jqGrid.min.js") %>"></script>

    <script src="<%= VersionLinkHelper.GetVersion("../Scripts/bootstrap.min.js") %>"></script>
    <script src="<%= VersionLinkHelper.GetVersion("../Scripts/moment-with-locales.min.js") %>"></script>
    <script src="<%= VersionLinkHelper.GetVersion("../Scripts/bootbox.min.js") %>"></script>
    <script src="<%= VersionLinkHelper.GetVersion("../Scripts/bootstrap-datepicker.min.js") %>"></script>
    <script src="<%= VersionLinkHelper.GetVersion("../Scripts/bootstrap-datepicker.es.min.js") %>"></script>
    <script src="<%= VersionLinkHelper.GetVersion("../js/json3.js") %>" type="text/javascript"></script>
    <script src='<%= VersionLinkHelper.GetVersion("../js/SessionAjax.js") %>'></script>

    <script src="<%= VersionLinkHelper.GetVersion("../js/Formateo/numeral.min.js") %>" type="text/javascript"></script>
    <script src="<%= VersionLinkHelper.GetVersion("../js/JqGridExcelAsp.js") %>" type="text/javascript"></script>
    <script src="<%= VersionLinkHelper.GetVersion("../js/vendor/d3/d3.v3.js") %>"></script>
    <script src="<%= VersionLinkHelper.GetVersion("../js/vendor/rickshaw/rickshaw.min.js") %>"></script>

    <script src='<%= VersionLinkHelper.GetVersion("../js/App/Sistema/master.min.js") %>'></script>
    <link rel="manifest" href="../Sistema/manifest.json">
    <meta name="theme-color" content="#404041">
</head>

<body id="BodyMaster" runat="server" clientidmode="Static">
    <div class="modal fade" id="loaderProceso" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    Un momento...
                </div>
                <div class="modal-body">
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <form id="formulario" class="cbp-spmenu-push chat-sidebar-container pace-done nav-collapsed" runat="server" clientidmode="Static" style="height: 100%; overflow: hidden;">
        <nav id="sidebar" class="sidebar" role="navigation">
            <div class="slimScrollDiv">
                <div class="js-sidebar-content">
                    <ul class='sidebar-nav'>
                        <li style="height: 50px;">
                            <span class="icon"><i></i></span>
                            <img id="idLogoEmpresa" src="" hidden />
                        </li>
                    </ul>
                    <ul id="navbar" class='sidebar-nav'>
                    </ul>
                </div>
            </div>
        </nav>
        <nav id="idSubtituloPagina" runat="server" clientidmode="Static" class="page-controls navbar navbar-default">
            <div class="container-fluid">
                <!-- .navbar-header contains links seen on xs & sm screens -->
                <div class="navbar-header">
                    <ul class="nav navbar-nav">
                        <li>
                            <!-- whether to automatically collapse sidebar on mouseleave. If activated acts more like usual admin templates -->
                            <a class="hidden-sm hidden-xs" id="nav-state-toggle" href="#" data-toggle="tooltip" title="Abrir/Cerrar Menú" data-placement="bottom">
                                <i class="fa fa-bars fa-lg"></i>
                            </a>
                            <!-- shown on xs & sm screen. collapses and expands navigation -->
                            <a class="visible-sm visible-xs" id="nav-collapse-toggle" href="#" data-toggle="tooltip" title="Mostrar/Ocultar Menú" data-placement="bottom">
                                <span class="rounded rounded-lg bg-gray text-white visible-xs"><i class="fa fa-bars fa-lg"></i></span>
                                <i class="fa fa-bars fa-lg hidden-xs"></i>
                            </a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right visible-xs">
                        <li data-toggle="tooltip" title="Monedas: Próximamente" data-placement="bottom">
                            <!-- toggles chat -->
                            <a href="#" data-toggle="chat-sidebar">
                                <span class="rounded rounded-lg bg-gray text-white"><i class="fa fa-usd fa-lg"></i></span>
                            </a>
                        </li>
                    </ul>
                    <!-- xs & sm screen logo -->
                    <div class="navbar-brand" style="z-index: -1;"><span id="idSubtituloPaginaText"></span></div>
                </div>
                <div class="collapse navbar-collapse">
                    <!-- Boton para los precios y datos usuario -->
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown clearfix">
                            <a href="#" class="dropdown-toggle" id="dropdownMenuDivider" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-user fa-lg"></i>
                                <span id="userFirstName">Usuario</span>
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu user-options" aria-labelledby="dropdownMenuDivider">
                                <li>
                                    <div class="text-center">
                                        <div><i class="fa fa-user-circle-o"></i></div>
                                        <div id="userFullName">Usuario</div>
                                    </div>
                                </li>
                                <li role="separator" class="divider"></li>
                                <li>
                                    <a><i class="fa fa-building">&nbsp</i><span id="userNomEmpresa">Empresa</span></a>
                                </li>
                                <li role="separator" class="divider"></li>
                                <li><a onclick="CerrarSesion()"><i class="fa fa-sign-out">&nbsp</i>Desconectar</a></li>
                            </ul>
                        </li>
                        <li class='hidden-sm hidden-xs hidden-md' id='window-max' data-toggle="tooltip" title="Maximizar" data-placement="bottom">
                            <a href="#" data-toggle="window-full">
                                <i id='iconWindowMax' class="fa fa-window-maximize fa-lg"></i>
                            </a>
                        </li>
                        <li data-toggle="tooltip" title="Monedas" data-placement="bottom">
                            <a href="#" data-toggle="chat-sidebar">
                                <i class="fa fa-usd fa-lg"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="chat-sidebar" id="chat" style="overflow: auto;">
            <div class="chat-sidebar-content">
                <div class="chat-sidebar-contacts open" style="padding-left: 0; padding-right: 0;">
                    <section class='widget bg-widget-dolar text-white container-fluid' style="margin-bottom: 1px;">
                        <div class="widget-body clearfix">
                            <div class="row">
                                <div class="col-xs-3"><span class="widget-icon lh-1"><i class='fa fa-clock-o'></i></span></div>
                                <div class="col-xs-9">
                                    <h5 class="no-margin">Valores al</h5>
                                    <p id='fechaValores' class="h2 no-margin fw-normal"></p>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class='widget bg-widget-dolar text-white container-fluid' style="margin-bottom: 1px;">
                        <div class="widget-body clearfix">
                            <div class="row">
                                <div class="col-xs-5"><span id='codUSD' class="widget-icon lh-1"></span></div>
                                <div class="col-xs-7">
                                    <h5 id='dscUSD' class="no-margin"></h5>
                                    <p id='valorUSD' class="h2 no-margin fw-normal"></p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <div id='chartUSD' class='chart-overflow-bottom' style="margin-right: 0px;"></div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section id="idSecUF" class='widget bg-widget-dolar text-white container-fluid' style="margin-bottom: 1px;">
                        <div class="widget-body clearfix">
                            <div class="row">
                                <div class="col-xs-4"><span id='codUF' class="widget-icon lh-1"></span></div>
                                <div class="col-xs-8">
                                    <h5 id='dscUF' class="no-margin"></h5>
                                    <p id='valorUF' class="h2 no-margin fw-normal"></p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <div id='chartUF' class='chart-overflow-bottom' style="margin-right: 0px;"></div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class='widget bg-widget-dolar text-white container-fluid' style="margin-bottom: 1px;">
                        <div class="widget-body clearfix">
                            <div class="row">
                                <div class="col-xs-5"><span id='codEUR' class="widget-icon lh-1"></span></div>
                                <div class="col-xs-7">
                                    <h5 id='dscEUR' class="no-margin"></h5>
                                    <p id='valorEUR' class="h2 no-margin fw-normal"></p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <div id='chartEUR' class='chart-overflow-bottom' style="margin-right: 0px;"></div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class='widget bg-widget-dolar text-white container-fluid' style="margin-bottom: 1px;">
                        <div class="widget-body clearfix">
                            <div class="row">
                                <div class="col-xs-4"><span id='codIVP' class="widget-icon lh-1"></span></div>
                                <div class="col-xs-8">
                                    <h5 id='dscIVP' class="no-margin"></h5>
                                    <p id='valorIVP' class="h2 no-margin fw-normal"></p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <div id='chartIVP' class='chart-overflow-bottom' style="margin-right: 0px;"></div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
        <section class="content-wrap">
            <main id="content" class="content container-fluid">
                <asp:ContentPlaceHolder ID="ContenidoPPalFiltro" runat="server">
                </asp:ContentPlaceHolder>
            </main>
        </section>
        <footer>Copyright © Creasys <%=Year(System.DateTime.Now)%></footer>
        <div id="alert" class="alert" role="alert" style="position: fixed; bottom: 5vh; right: 5vw; width: 90vw; max-width: 450px; display: none; z-index: 2000;">
            <button type="button" class="close" data-hide="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <i id='iconAlerta' class='fa' aria-hidden='true'></i><strong id="tipoAlerta"></strong>
            <div id="mensaje"></div>
        </div>
    </form>
</body>
</html>
