﻿<%@ Master Language="VB" AutoEventWireup="false" CodeBehind="Login.master.vb" Inherits="AplicacionWeb.Login" %>

<%@ Import Namespace="AplicacionWeb" %>

<!DOCTYPE html>
<html lang="es">
<head runat="server">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GPI Web</title>
    <link href="../Sistema/icons/favicon.ico" rel="shortcut icon" />
    <link href="<%= VersionLinkHelper.GetVersion("../Content/bootstrap.min.css") %>" rel="stylesheet" />
    <script src="<%= VersionLinkHelper.GetVersion("../Scripts/jquery-3.1.1.min.js") %>"></script>
    <script src="<%= VersionLinkHelper.GetVersion("../Scripts/bootstrap.min.js") %>"></script>
    <link rel="manifest" href="../Sistema/manifest.json">
    <meta name="theme-color" content="#404041">
</head>
<body style="background-color: #e9eaed;"> 
    <form runat="server">
        <asp:ContentPlaceHolder ID="miLogin" runat="server">
        </asp:ContentPlaceHolder>
    </form>
</body>
</html>
